/* a minimalist set of CSS resets */

/* default to border-box */
html {
    box-sizing: border-box;
    font-size: 20px;
    font-style: oblique;
    background-color: rgb(211, 204, 224);
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
    
  }
  
  /* adjust typography defaults */
  body {
    margin: 1rem;
    font-family: Cambria;
    line-height: 2;
  }
  
  /* images and videos max out at full width */
  img,
  video {
    height: auto;
    max-width: 100%;
  }
  